#body {
  margin: none;
}

.container {
  position: relative;
  overflow: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.view {
  /* cursor: grab; */
  overflow: scroll;
  /* margin: auto; */
  background-image: url("assets/cover_background_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.logo-img {
  /* Hidden by default */
  display: none;
  overflow: auto;
  /* position: absolute; */
  z-index: 1;
  background-image: url("assets/background_with_title.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

#mesh-logo {
  /* opacity: 1; */
}

.animate {
  position: absolute;
}

.image {
  height: auto;
  width: 200px;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */


}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(27, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
  border: 1px solid #888;
  flex-direction: column;
}

.modal-text {
  color: antiquewhite;
  text-align: center;
  /* align-self: flex-end; */
}

/* The Close Button */
.close {
  color: antiquewhite;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  height: auto;
  margin: auto;
  width: 100%;
}

.background-text-container {
  position: fixed;
  /* height: 100%; */
  width: 100%;
  /* background-color: white; */
  color: antiquewhite;

  font-size: 32px;
  margin: auto;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.letter {
  justify-content: center;
  font-size: 32px;
}

@media screen and (min-width: 250px) {
  .letter {
    justify-content: center;
    font-size: 16px;
  }
}


@media screen and (min-width: 800px) {
  .letter {
    justify-content: center;
    font-size: 24px;
  }
}



.article-button {
  /* text-decoration: none;
  border: none;
  background: none; */
  /* font-size: 100px; */
  position: fixed;
  align-self: flex-start;
  /* color: white; */
  /* font-size: 100px; */
  /* margin-left: 10px; */
  z-index: 1;
  /* background-color: #000000; */
}

.button {
  font-weight: bold;
  border: none;
  color: #aaa;
  background-color: rgb(27, 27, 27);
  /* padding: 15px 32px; */
  /* font-size: 72px; */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 32px;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.button-left {
  padding: 15px 32px;

  font-size: 48px;
}

.button-right {
  padding: 15px 32px;
  font-size: 48px;
}

#article-button {}

.article-container {

  display: none;
  position: fixed;
  /* background-color: white; */
  z-index: 2;
  width: 100%;
  /* height: 100%; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: ; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background-color: black; */
  /* justify-content: center; */
}

.article-wrapper {
  /* height: 100%; */
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  margin: auto;
  width: 100%;
  height: 100%;
  /* flex-basis:100%; */
}

.article {
  /* justify-content: center; */
  /* overflow: auto !important; */
  overflow: auto;

  margin: auto;
  display: none;
  flex-direction: column;
  height: 95%;
  max-width: 750px;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 25px;
  color: antiquewhite;
  z-index: 100;
  /* flex-basis: auto; */
  /* overflow-y:scroll; */

}

.close-articles {
  /* align-self: flex-start; */
  /* display: flex; */
  color: #aaa;

  align-self: flex-end;
  /* float:right; */
  /* width: 100%; */
}

.close-article-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}

.article-img-wrapper {
  width: 100%;
}

.article-img {
  max-width: 100%;
  width: 100%;
  height: auto;

}

.article-text {}

.negative-button {
  border-radius: 50%;
  background-color: #000000;
  border-color: white;
  /* text-shadow: 4px red; */
  /* position: fixed; */
  padding: 50px;
  font-size: 72px;
}

.negative-img {

  height: 100%;
  margin: auto;
  max-width: 100%;

}

.negative-img-wrap {
  /* width: 100%; */
  max-width: 100%;
  /* height: 100%; */
  max-height: 100%;
  /* object-fit: contain; */
  /* overflow:hidden; */
}